<div class = "container-fluid user_entry">
  <h1>About</h1>
  <h4>Attempting to understand Gems</h4>
  <p>Part of the beggining of WDI is incorporating foreign API's</p>
  <p>In an attempt to understand them more I'm using one of my favorite<br>
  apps API's: Instagram.</p>
  <br>
  <p>You should be able to search for locations and see the nature pictures associated with that area</p>
</div>
