<div class = "container-fluid user_entry">
  <h1>Contact</h1>
  <p>
    Suggestions or questions welcome!
    <br>
    <a href="mailto:Swipez17@gmail.com?subject=Insta-Outside">Email Me</a>
  </p>
</div>
