<div class = "container">
  <div class = "hero-unit">
    <h1 class ="title">Insta-Outside</h1>
    <h3>Find photos via form.</h3>
    <div class = "search">
    <%= form_tag('/search', :method => 'get') do %>
      <%= text_field_tag(:query, nil,  :placeholder => 'Search for photos') %>
      <%= submit_tag 'Go' %>
    <% end %>
    </div>
    <h4>Click <%= link_to 'Sign-up', new_user_registration_path %> to get started.</h4>
  </div>
</div>

