<div class = "container-fluid">
  <ul class = "tile">
    <h2 class = "pictures">Pictures tagged:</h2>
    <h3 class = "pictures_3">#<%=params[:tag]%></h3>
  <% @photos.each do |photo| %>
    <%= image_tag photo.images.low_resolution.url %>
    <%= check_box_tag "", photo.images.standard_resolution.url%>
  <% end %>

  </ul>
</div>
