<nav>
  <%= link_to("Home", root_path) %>
   |
  <%= link_to("Details", details_path) %>
  <form action = "/search" method = "get">
  <input type="text" name = "search" placeholder = "Search the world" autofocus>
  <button>Go</button>
</nav>
