<div class = "footer">
  <p style="padding-top: 5px;">
    Using the official <span style = "font-family: 'Lobster Two'; font-size: 1.2em;"><a href="http://instagram.com">Instagram</a></span> Gem
  </p>
</div>
